html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: #1e2a38;
}

#app {
  height: 100%;
}

h1 {
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.font-size-20 {
  font-size: 20px;
}

.content-padding {
  padding: 32px 0px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-32 {
  margin-bottom: 16px;
}
